<!DOCTYPE html>
<html ng-app="sportsStore">
<head>
  <title>SportsStore</title>
  <script src="angular.js"></script>
  <link href="bootstrap.min.css" rel="stylesheet" />
  <script>
    angular.module("sportsStore", ["customFilters"]);
  </script>
  <script src="controllers/sportsStore.js"></script>
  <script src="filters/customFilters.js"></script>
  <script src="controllers/productListControllers.js"></script>
</head>
<body ng-controller="sportsStoreCtrl">
  <div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">SPORTS STORE</a>
  </div>
  <div class="panel panel-default row" ng-controller="productListCtrl">
    <div class="col-xs-3">
      <a ng-click="selectCategory()" class="btn btn-block btn-default btn-lg">Home</a>
      <a ng-repeat="item in data.products | orderBy:'category' | unique:'category'" ng-click="selectCategory(item)" class=" btn btn-block btn-default btn-lg">
          {{item}}
      </a>
    </div>
    <div class="col-xs-8">
      <div class="well" ng-repeat="item in data.products | filter:categoryFilterFn">
        <h3>
          <strong>{{item.name}}</strong>
          <span class="pull-right label label-primary">
            {{item.price | currency}}
          </span>
        </h3>
        <span class="lead">{{item.description}}</span>
      </div>

    </div>
  </div>
</body>
</html>
