<!DOCTYPE html>
<html ng-app>
<head>
  <title>First Test</title>
  <script src="angular.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="btn btn-default">{{"AngularJS"}}</div>
  <div class="btn btn-success">Bootstrap</div>
</body>
</html>
